
<section id="previews">
    <h2>Latest Release{{ releases|pluralize }}</h2>
    {% for release in releases %}
    <dl>
        <dt>Release</dt>
        <dd>{{ release.label }} <small>{{ release.released|date }}</small></dd>
        <dt>Level</dt>
        <dd>{{ release.level }}</dd>
        <dt>Download</dt>
        <dd><a href="{{ release.download_url }}">{{ release.truncated_download_url }}</a></dd>
    </dl>

    <div id="preview">
        <img class="pack_terrain" src="{% url source-resource pk=source.pk release_pk=release.pk resource_name="terrain.png" %}" alt="" />
    </div>
    {% endfor %}
</section>