{% extends "base.html" %}
{% block title %}Test messages - Texturejam{% endblock %}
{% block heading %}Test messages{% endblock %}
{% block content %}
<section id="main">
    <p>
        Praesent vel tellus ut magna rutrum mattis. Nullam quam metus, facilisis vitae accumsan sed, volutpat id justo. Vivamus eu enim at purus sollicitudin mattis. Fusce dapibus ullamcorper accumsan. Curabitur accumsan mattis massa in congue. Cras fermentum, leo eget tincidunt tincidunt, odio dui fermentum nibh, quis tempus purus turpis faucibus tortor. Donec eu accumsan est. Mauris at orci sed sapien varius egestas nec at lorem. Sed hendrerit, orci non rutrum lobortis, dolor diam placerat risus, et lacinia leo sapien sed turpis. Integer feugiat fringilla sem et pretium. Fusce ac adipiscing nulla. Suspendisse dapibus tempus nunc, quis egestas nulla viverra in. In pulvinar lacinia dui at pretium. Maecenas at turpis ut odio vehicula venenatis. Nulla velit turpis, egestas id auctor at, lobortis ut magna. Nam auctor vestibulum aliquet. Etiam vel vehicula eros. Proin eget quam justo.
    </p>
</section>
{% endblock %}