@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy:regular);
@import url(http://fonts.googleapis.com/css?family=Kreon);

body {
    font-size: 13px;
    padding: 0;
    margin: 0;

    color: #333;
    font-family: "Verdana", sans-serif;
    line-height: 1.25;
    background: #975 url(dirt64.png);
}

/* I am going to bring all the big layout stuff in to one place
Some of these selectors will be used below to control fonts etc.
*/
#banner {
    width: 100%;
    margin: 0 0 1.25em;
}

#banner h1 {
    font-size: 3em;
    width: 940px;
    padding: 1.5em 0 0;
    margin: 0 auto;
}

#trail {
  font-size: 2em;
  margin: 0;
  padding: 0.313em 10px;
}

#strap {
    font-size: 2em;
    display: block;
    width: 940px;
    margin: 0 auto 0;
}

#content:after,
#main:after,
#more:after,
#asides:after,
section:after,
.big_link:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content {
  width: 960px;
  margin: 0 auto;
}

#main {
  float: left;
  width: 560px; /* 7u */
}

#more {
  float: left;
  width: 400px; /* 5u */
}
/*

#footer {
  clear: both;
  padding: 2.5em 0 0;
}
*/

#who {
  float: none;

  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0.5em 10px;
  width: auto;
  min-width: 140px;
  height: 24px;
  overflow: hidden;
}

#who:hover {
  height: auto;
}

#messages {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

#asides { /* Asides go horizontally below */
  float: left;
  width: 960px; /* 12u */
}

#asides aside {
  float: left;
  width: 240px;
}

@media only all and (min-width: 1240px) {
  #banner h1,
  #strap {
    width: 1180px; /* 15u */
  }

  #content {
    width: 1200px; /* 15u */
  }

  #asides {
    width: 240px;
  }
}

@media only all and (max-width: 980px) {
  #banner h1,
  #strap {
    width: 700px; /* 9u */
  }

  #content {
    position: relative;
    width: 720px; /* 9u */
  }

  #main,
  #more {
    width: 480px; /* 6u */
  }

  #asides {
    position: absolute;
    top: 0;
    right: 10px;
    width: 240px;
  }

  #asides aside {
    clear: both;
    float: right;
  }
}

#banner {
    background-color: #F90;
    background-image: -webkit-gradient(radial, 25% 75, 40, 25% 75, 600,
    	from(#FFF), color-stop(90%, #E04), to(#A02));
    background-color: #F90;
    background: url(dirt_jam.png) left top repeat-x;
}

#banner h1 {
    font-family: 'Luckiest Guy', serif;
    text-align: left;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
}

#banner p+h1 {
  padding-top: 0.5em;
}

#trail {
  font-family: 'Luckiest Guy', serif;
  text-align: left;
}

#trail a:link,
#trail a:visited {
  color: #FFF;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

#trail a:hover,
#trail a:active {
  text-decoration: underline;
  text-shadow: rgba(255, 0, 153, 0.75) 0 0 3px;
}

#strap {
    text-align: left;
    color: rgb(19, 81, 101);
	  font-family: 'Kreon', sans-serif;
	  text-transform: lowercase;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
}

#content {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
}

h1, h2 {
  clear: both;
  margin: 1.25em 10px 0.25em;

  font-family: 'Luckiest Guy', serif;
  font-weight: normal;
  color: rgb(19, 81, 101);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.813em;
}

section p {
  margin: 1.25em 10px;
}

section h2+p,
section p+p {
  margin-top: 0;
}

.pack-list ul {
	margin: 0 0 1.25em 0;
	padding: 0;
}

.pack-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pack-list li a {
  float: left;
	display: block;
	padding: 0.5em 10px;
	width: 380px;

	text-decoration: none;
	color: inherit;
  border-radius: 0.5em;
}

.pack-list li a:hover {
	background: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}
.pack-list li a:active {
	background: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
}

.pack-list li b {
	display: block;
}

.pack-list li a:hover b,
.pack-list li a:active b {
	text-decoration: underline;
	color: #06B;
}

/* The user’s identity displayed at top right of page */
#who {
  line-height: 1;
  background: rgba(204, 51, 102, 0.75);
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
}

#who:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
}

#who img.profile {
  height: 24px;
  vertical-align: middle;
}

#who form {
  padding: 0.5em 0 0;
}

table {
  margin: 0.65em 5px;
  border-collapse: collapse;
}

td, th {
  padding: 0.125em 5px;

  text-align: left;
  vertical-align: baseline;
}

tbody th {
  text-align: right;
  min-width: 60px;
  padding-right: 15px;
}

td img {
  display: block;
}

#pack-desc dl {
  float: left;
  width: 400px; /* 5u */
  margin: 0.613em 0;
  padding: 0;
}

dt {
  clear: both;
  float: left;
  width: 140px; /* 2u */
  margin: 0.613em 10px;


  font-weight: bolder;
  color: #369;
  text-align: right;
}

dd {
  float: right;
  margin: 0.613em 10px;
}


#pack-desc dt {
  width: 100px; /* 1.5u */
}
#pack-desc dd {
  width: 260px; /* 3.5u */
}

@media only all and (max-width: 980px) {
  foo { bar }
  #pack-desc dl {
    width: 320px; /* 4u */
  }
  #pack-desc dt {
    width: 80px;
  }
  #pack-desc dd {
    width: 200px;
  }
}

#main form {
  padding: 0;
  margin: 0;
  background: rgba(204, 151, 0, 0.25);
}

#main form div {
  margin: 0.25em 0;
}

#main form label {
  float: left;
  margin: 0.25em 10px;
  padding: 0;
  width: 140px;
  text-align: right;
}

#main form input {
  margin: 0.25em 10px;
  width: 372px;
  border-width: 2px;
}

#main form span { /* help text */
  display: block;
  margin: 0 10px 0.5em 170px;
  color: rgba(0, 0, 0, 0.5);
}

#main form b { /* error msg */
  display: block;
  margin: 0 10px 0 170px;

  color: #C06;
}

#main form div.buttons {
  padding: 0.625em 10px 0.625em 160px;
}

#main form .buttons input {
  margin: 0.625em 10px;
  width: auto;
}

#messages ul {
  margin: 0 auto;
  padding: 1.25em 0;
  width: 560px;

  color: #000;
  background: rgba(255, 240, 151, 0.8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 3px 3px 4px;
  /*
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  */
}

#messages li {
  margin: 0;
  padding: 0.625em 50px;
}

#messages li.error {
  color: #903;
  font-weight: bold;
  background: url(error-24.png) 16px 0.625em no-repeat;
}

#messages li.info {
  background: url(info-24.png) 16px 0.625em no-repeat;
}

#main img.pack-png,
.pack-list img.pack-png {
  display: block;
  float: left;

  border: 1px inset #CCC;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

#main img.pack-png {
  width: 128px;
  height: 128px;
  margin: 1.25em 10px 1.25em 10px;
  padding: 5px;
}

.pack-list img.pack-png {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
  padding: 5px;
}

#main img.userpic {
  height: 16px;
  vertical-align: middle;
}

#preview {
  display: block;
  width: 540px;
  margin: 1.25em 10px;
  background-color: rgba(0, 0, 0, 0.2);
}


@media only all and (max-width: 980px) {
  #preview {
    width: 460px;
  }
}

#preview img {
  width: 256px;
  height: 256px;
  display: block;
  margin: auto;
}

#progress p {
  margin: 0.613em 10px;
}

#progress ol {
  margin: 0;
  padding: 0;
}

#progress li {
  margin: 0.613em 10px 0.613em 30px;
  min-height: 16px;

  list-style-type: square;
}

#progress li:after {
  content: ".";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;

  color: transparent;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

#progress li.incomplete:after {
  background-image: url(please-wait.gif);
}

#progress .complete {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

#progress .complete a {
  color: rgba(51, 0, 102, 0.5);
}

#progress li.complete:after {
  background-image: url(info-24.png);
}

#progress .next {
  margin: 0.613em 0;
  padding: 1.25em 10px;

  background-color: #9C3;
  font-weight: bolder;
}

.big_link a {
  float: left;
  display: block;
  padding: 0.613em 20px;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 00, 0.75);
  text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 1px;
  border: 1px outset #C30;
  border-radius: 10px;
  background: #F90 -webkit-gradient(linear, left top, left bottom, from(#F93), color-stop(10%, #FC6), to(#F60));
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

.big_link a:hover {
  background: #F90 -webkit-gradient(linear, left top, left bottom, from(#FA4), color-stop(10%, #FD7), to(#F71));
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
}
.big_link a:active {
  background: #F90 -webkit-gradient(linear, left top, left bottom, from(#FA4), color-stop(10%, #FD7), to(#F71));
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

aside p {
  margin: 1.25em 10px 0;
}

#ad img {
  display: block;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.25);
}

#ad iframe {/* flattr */
  margin: 0.5em 10px;

}

#footer {
  color: rgba(0, 51, 102, 0.5);
}