@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy:regular);
@import url(http://fonts.googleapis.com/css?family=Kreon);

body {
    font-size: 13px;
    padding: 0;
    margin: 0;

    color: #333;
    font-family: "Verdana", sans-serif;
    background: #975 url(dirt64.png);
}

#banner {
    width: 100%;
    margin: 0 0 1.25em;
    background-color: #F90;
    background-image: -webkit-gradient(radial, 25% 75, 40, 25% 75, 600,
    	from(#FFF), color-stop(90%, #E04), to(#A02));
    background-color: #F90;
    background: url(dirt_jam.png) left top repeat-x;
}

#banner h1 {
    font-size: 3em;
    width: 940px;
    padding: 1em 0 0;
    margin: 0 auto;

    font-family: 'Luckiest Guy', serif;
    text-align: left;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
}

#banner p {
    font-size: 2em;
    display: block;
    width: 940px;
    margin: 0 auto 0;

    text-align: left;
    color: rgb(19, 81, 101);
	  font-family: 'Kreon', sans-serif;
	  text-transform: lowercase;
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
}

#content {
  width: 960px;
  margin: 0 auto;
}

section#pack_list,
section#main {
  float: left;
  width: 560px; /* 7u */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
}

h1, h2 {
    margin: 1em 10px 0.5em;

    font-family: 'Luckiest Guy', serif;
    color: rgb(19, 81, 101);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

section p {
  margin: 1.25em 10px;
}

#footer {
  clear: both;
  width: 960px;
  margin: 0 auto;
  padding: 2.5em 0 0;
}

#pack_list ul {
	margin: 1.25em 0 0;
	padding: 0;
}

#pack_list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#pack_list li a {
	display: block;
	padding: 0.5em 10px;

	text-decoration: none;
	color: inherit;
  border-radius: 0.5em;
}

#pack_list li a:hover {
	background: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}
#pack_list li a:active {
	background: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
}

#pack_list li b {
	display: block;
}

#pack_list li a:hover b,
#pack_list li a:active b {
	text-decoration: underline;
	color: #06B;
}

/* The user’s identity displayed at top roight of page */
#who {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em 10px;
  min-width: 140px;
  height: 24px;
  overflow: hidden;

  line-height: 1;
  background: rgba(204, 51, 102, 0.75);
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;
}

#who:hover {
  height: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
}

#who img.profile {
  height: 24px;
  vertical-align: middle;
}

#who form {
  padding: 0.5em 0 0;
}

table {
  margin: 0.65em 5px;
  border-collapse: collapse;
}

td, th {
  padding: 0.125em 5px;

  text-align: left;
  vertical-align: baseline;
}

tbody th {
  text-align: right;
  min-width: 60px;
  padding-right: 15px;
}

td img {
  display: block;
}

#main form {
  padding: 0;
  margin: 0;
  background: rgba(204, 151, 0, 0.25);
}

#main form div {
  margin: 0.25em 0;
}

#main form label {
  float: left;
  margin: 0.25em 10px;
  padding: 0;
  width: 140px;
  text-align: right;
}

#main form input {
  margin: 0.25em 10px;
  width: 372px;
  border-width: 2px;
}

#main form span { /* help text */
  display: block;
  margin: 0 10px 0.5em 170px;
  color: rgba(0, 0, 0, 0.5);
}

#main form b { /* error msg */
  display: block;
  margin: 0 10px 0 170px;

  color: #C06;
}

#main form div.buttons {
  padding: 0.5em 10px 0.5em 160px;
}

#main form .buttons input {
  margin: 0 10px;
  width: auto;
}