{% extends "base.html" %}
{% block title %}Download &amp; remix - Texturejam{% endblock %}
{% block heading %}Download &amp; remix{% endblock %}
{% block subheading %}One moment please …{% endblock %}
{% block content %}
<section id="main">
    <p>
        Remixing texture packs can take a little while,
        so the job of building your remix as been added to the queue.
    </p>
    {% include "recipes/parts/progress.html" %}
    <p>
        <img src="{{ task_info.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
        {{ task_info.owner }} requested this remix on {{ task_info.created|date }}.
        {% ifnotequal task_info.created|date remix.modified|date %}
            Last edited on {{ task_info.modified|date }}.
        {% endifnotequal %}
    </p>

</section>
{% endblock %}