{% extends "base.html" %}
{% block title %}Preparing {{ pack.label }} - Texturejam{% endblock %}
{% block heading %}{{ pack.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}
{% block content %}
<section id="main">
    <p>
        Remixing texture packs can take a little while,
        so the job of building {{ pack.label }} as been added to the queue.
    </p>

    <div id="progress" data-href="{% url pack_progress pk=pack.pk %}">
        <p>Please wait while we</p>
        <ol>
            {% if pack.pack_args %}
                {% for pack_arg in pack.pack_args.all %}
                    {% with pack_arg.source_pack as p %}
                    <li id="arg_{{ pack_arg.name }}">
                        Download <a href="{% firstof p.home_url p.forum_url %}">{{ p }}</a>
                    </li>
                    {% endwith %}
                {% endfor %}
            {% endif %}
        <ol>
    </div>

    <script src="{{ static }}script/jquery-1.5.1.min.js"></script>
    <script src="{{ static }}script/cooking.js"></script>

    <p>
        <img src="{{ pack.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
        {{ pack.owner }} requested this pack on {{ pack.created|date }}.
        {% ifnotequal pack.created|date pack.modified|date %}
            Last edited on {{ pack.modified|date }}.
        {% endifnotequal %}
    </p>

</section>
{% endblock %}