{% extends "base.html" %}
{% block title %}{{ pack.label }} - Texturejam{% endblock %}
{% block heading %}{{ pack.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}
{% block content %}
<section id="main">
    <img class="pack_png" src="{% url pack_resource pk=pack.pk res_name="pack.png" %}" align="left" alt="" />

    {% if pack.pack_args %}
    <p>
        This pack was created by remixing
        {% for pack_arg in pack.pack_args.all %}
            {% if not forloop.first %}{% if forloop.last %}and{% endif %}{% endif %}
            <a href="{% firstof pack_arg.source_pack.series.home_url pack_arg.source_pack.series.forum_url pack_arg.source_pack.download_url %}"
            >{{ pack_arg.source_pack }}</a>{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}
        Follow the link{{ pack.pack_args|pluralize }}
        to their web page{{ pack.pack_args|pluralize }} to shower them with praise for their work.
    </p>
    {% endif %}

    <p>
        Added by {{ pack.owner }} on {{ pack.created|date }} using recipe {{ pack.recipe.label }}.
        {% ifnotequal pack.created pack.modified %}
            Last edited on {{ pack.modified|date }}.
        {% endifnotequal %}
    </p>

    <p>
        To use this pack:
        <strong><a href="{% url tpmake pk=pack.pk %}">Download the ZIP file</a></strong>
        and copy in to your Minecraft texturepacks folder.
    </p>

</section>
{% endblock %}