{% extends "base.html" %}
{% block title %}{{ pack.label }} - Texturejam{% endblock %}
{% block heading %}{{ pack.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}
{% block content %}
<section id="main">
    <img class="pack_png" src="{% url pack_resource pk=pack.pk res_name="pack.png" %}" align="left" alt="" />

    {% if pack.pack_args %}
    <p>
        This pack was created by remixing
        {% for pack_arg in pack.pack_args.all %}
            {% if not forloop.first %}{% if forloop.last %}and{% endif %}{% endif %}
            <a href="{% firstof pack_arg.source_pack.series.home_url pack_arg.source_pack.series.forum_url pack_arg.source_pack.download_url %}"
            >{{ pack_arg.source_pack }}</a>{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}
        Follow the link{{ pack.pack_args|pluralize }}
        to their web page{{ pack.pack_args|pluralize }} to shower them with praise for their work.
    </p>
    {% endif %}

    <p>
        <img src="{{ pack.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
        {{ pack.owner }} added this pack on {{ pack.created|date }}
        using recipe {{ pack.recipe.label }}.
        {% ifnotequal pack.created|date pack.modified|date %}
            Last edited on {{ pack.modified|date }}.
        {% endifnotequal %}
    </p>

    <p>
        To use this pack:
        <strong><a href="{% url tpmake pk=pack.pk %}">Download the ZIP file</a></strong>
        and copy in to your Minecraft texturepacks folder.
    </p>

    <h2>Preview</h2>
    <div id="preview">
        <img class="pack_terrain" src="{% url pack_resource pk=pack.pk res_name="terrain.png" %}" alt="" />
    </div>
</section>
{% endblock %}