{% extends "base.html" %}
{% block title %}Texturejam{% endblock %}
{% block heading %}Texturejam{% endblock %}
{% block content %}
<section id="pack_list">
    <p>
        One day
        you will be able to define your own remixed texture packs
        and
        all will be super.
        But I haven’t written that part of the site yet.
        Until then here
        are some texture packs I prepared earlier.
    <p>
    <ul>
        {% for pack in recipe_packs %}
        <li>
            <a href="{% url tpmake pk=pack.pk %}">
                <b>{{ pack }}</b>
                <small>
                    Recipe {{ pack.recipe }}
                    applied to
                    {% for arg in pack.pack_args.all %}
                        {{ arg.source_pack }}
                    {% endfor %}
                </small>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}