{% extends "base.html" %}
{% block title %}Texturejam{% endblock %}
{% block heading %}Texturejam{% endblock %}
{% block content %}
<section id="pack_list">
    <p>
        Why remix texture packs?
        One reason to do this is if your favourite texture pack
        has not yet been updated for Minecraft Beta 1.3.
        If this is you, try our experimental
        <a href="{% url beta_upgrade %}"><strong>Upgrade to Beta 1.3 Service</strong></a>.

    </p>
    <p>
        Here are some remixes we  prepared earlier:
    </p>
    <ul>
        {% for pack in recipe_packs %}
        <li>
            <a href="{% url tpmake pk=pack.pk %}">
                <b>{{ pack }}</b>
                <small>
                    Recipe {{ pack.recipe }}
                    applied to
                    {% for arg in pack.pack_args.all %}
                        {{ arg.source_pack }}
                    {% endfor %}
                </small>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="unoriginal">
    <p>
        The texture packs on this site are all remixes of packs
        made by a horde of pixel artists.
        Look for original packs
        on sites like
    </p>
    <ul>
        <li><a href="http://www.minecraftforum.net/viewforum.php?f=1021">Minecraft Forums</a></li>
        <li><a href="http://www.minecrafttextures.com/">Minecraft Textures</a></li>
        <li><a href="http://www.planetminecraft.com/resources/texture_packs/">Planet Minecraft Textures</a></li>
    </ul>
</section>
{% endblock %}