{% extends "base.html" %}
{% load markup %}
{% block title %}Make a recipe for {{ spec.label }} - Texturejam{% endblock %}
{% block heading %}Make a recipe for {{ spec.label }}{% endblock %}
{% block subheading %}Don’t Panic{% endblock %}

{% block main_sections %}
<section id="form">
    <p>
        {% for release in spec.release_set.all %}
            {% if forloop.last and not forloop.first %}and{% endif %}
            {{ release.series }}{% if not forloop.last %},{% endif %}
        {% endfor %}
        {{ spec.release_set.all|pluralize:"supplies,supply" }} alternative
        interpretations of some textures.
        You can create your own remix!
    </p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div{% if field.css_classes %} class="{{ field.css_classes }}"{% endif %}>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <b>{{ error }}</b>
            {% endfor %}
            {% if field.help_text %}
            <span>{{ field.help_text }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <div class="buttons">
            <input type="submit" value="Download the ZIP File" />
        </div>
    </form>
    <p>
        Then copy the ZIP file in to Minecraft’s
        <code>texturepacks</code> folder.
    </p>
</section>

<section id="tweet-this">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="texturejamorguk">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</section>
{% endblock %}

{% block more_sections %}
{% if spec.desc %}
<section id="maps_desc">
    <h2>{{ spec }} maps</h2>
    {{ spec.desc|markdown }}
</section>
{% endif %}

<section id="instructions">

    <h2>Alternative textures?</h2>

    <p>
        Some texture packs artists include alternative versions of some of the
        tiles in their texture packs. Why? Sometimes because their favourite version is so
        different from the default texture. Sometimes because their fans insist they
        like the old versions of that tile better.
    </p>

    <h2>What about other packs?</h2>
    <p>
        Alternative tiles generally go in unused slots in
        <i>terrain.png</i>.
        Before Texturejam can use them in a remix it needs to be told where
        they are—using a texture pack map file.
        The form on this page is generated automatically from the map.
    </p>
    <p>
        For the present, I am creating those
        map files myself: there is not yet any way to add create maps via
        the web site.
    </p>
</section>

{% endblock %}

{% block stylesheet %}
<style type="text/css">
    /* Mighty contrivance to add images to radio buttons */

    #main form ul i {
        display: inline-block;
        background-image: url({{ src }});
    }

    {% for group_name, group_tiles_list in tiles_list %}
        {% for tile_list in group_tiles_list %}
            {% for tile in tile_list %}
    #sample_{{ tile.value }} {
        {{ tile.style }}
    }
            {% endfor %}
        {% endfor %}
    {% endfor %}
</style>
{% endblock %}