{% extends "base.html" %}
{% block title %}Download &amp; remix - Texturejam{% endblock %}
{% block heading %}Download &amp; remix{% endblock %}
{% block subheading %}One moment please …{% endblock %}
{% block content %}
<section id="main">
    <p>
        Remixing texture packs can take a little while,
        so the job of building your remix as been added to the queue.
    </p>

    <div id="progress" data-href="{% url remix-progress task_id=task_info.id %}">
        <p>Please wait while Texturejam</p>
        <ol>
            {% for step in task_info.get_progress %}
            <li id="{{ step.name }}">
                {{ step.label }}
            </li>
            {% endfor %}
        <ol>
    </div>

    {% comment %}
    <script src="{{ static }}script/ender.js"></script>
    <script src="{{ static }}script/cooking.js"></script>
    {% endcomment %}
    <script src="{{ static }}script/ender.min.js"></script>
    <script src="{{ static }}script/cooking.min.js"></script>
    {% comment %}<script src="{{ static }}script/ender-app.js"></script>{% endcomment %}

    <p>
        <img src="{{ task_info.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
        {{ task_info.owner }} requested this remix on {{ task_info.created|date }}.
        {% ifnotequal task_info.created|date remix.modified|date %}
            Last edited on {{ task_info.modified|date }}.
        {% endifnotequal %}
    </p>

</section>
{% endblock %}