{% extends "base.html" %}
{% block title %}Preparing {{ remix.label }} - Texturejam{% endblock %}
{% block heading %}{{ remix.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}
{% block content %}
<section id="main">
    <p>
        Remixing texture packs can take a little while,
        so the job of building {{ remix.label }} as been added to the queue.
    </p>

    <div id="progress" data-href="{% url remix-progress pk=remix.pk %}">
        <p>Please wait while we</p>
        <ol>
            {% if remix.pack_args %}
                {% for pack_arg in remix.pack_args.all %}
                    {% with pack_arg.source_pack as p %}
                    <li id="arg_{{ pack_arg.name }}">
                        Download <a href="{% firstof p.home_url p.forum_url %}">{{ p }}</a>
                    </li>
                    {% endwith %}
                {% endfor %}
            {% endif %}
        <ol>
    </div>

    <script src="{{ static }}script/jquery-1.5.1.min.js"></script>
    <script src="{{ static }}script/cooking.js"></script>

    <p>
        <img src="{{ remix.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
        {{ remix.owner }} requested this remix on {{ remix.created|date }}.
        {% ifnotequal remix.created|date remix.modified|date %}
            Last edited on {{ remix.modified|date }}.
        {% endifnotequal %}
    </p>

</section>
{% endblock %}