{% extends "base.html" %}
{% load markup %}
{% block title %}Edit remix - {{ remix.label }} - Texturejam{% endblock %}
{% block heading %}{{ remix.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}

{% block main_sections %}
<section id="form">
    <p>
        You are maintainer of this remix.
    </p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <b>{{ error }}</b>
            {% endfor %}
            {% if field.help_text %}
            <span>{{ field.help_text }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <div class="buttons">
            <input type="submit" value="Save changes" />
            or, <a href="{% url remix-detail pk=remix.pk %}">Cancel</a>
        </div>
    </form>
</section>

<section id="pack-preview">
    <h2>Preview</h2>
    <div id="preview">
        <img class="pack_terrain" src="{% url pack_resource pk=remix.pk res_name="terrain.png" %}" alt="" />
    </div>
</section>
{% endblock %}

{% block more_sections %}
{% for recipe in recipes %}
<section id="recipe-{{ recipe.pk }}">
    <h2>Recipe: {{ recipe.label }}</h2>
    {{ recipe.desc|markdown }}
</section>
{% endfor %}

    <script src="{{ static }}script/jquery-1.5.1.min.js"></script>
    <script src="{{ static }}script/beta-upgrade.js"></script>
{% endblock %}