{% extends "base.html" %}
{% block title %}Texturejam{% endblock %}
{% block heading %}Texturejam{% endblock %}
{% block trail %}{% endblock %}
{% block main_sections %}
<section id="why_remix">


    {% if maps_for_alts %}
    <h2>Customise texture packs</h2>
    <p>
        These  packs contain alternative imagery for some
        textures. You can create a recipe that mixes in alternatives:
    </p>
    <ul class="pack-list">
        {% for spec in maps_for_alts %}
        <li>
            <a href="{% url recipe-from-maps maps_id=spec.id %}">
                {% with release=spec.release_set.latest %}
                <img src="{% url source-resource source_id=release.series.id release_id=release.id resource_name="pack.png" %}" alt="" class="pack-png" />
                {% endwith %}
            <b>{{ spec }}</b>
            <small>{{ spec.desc }}</small></a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</section>

<section id="what_is">
    <h2>Wait, what is a texture pack anyway?</h2>
    <p>
        The world of <a href="http://minecraft.net">Minecraft</a> is made of cubes.
        By changing the
        pictures (called textures) painted on the cubes you can change the look and feel of the game.
    </p>
    {% comment %} Remoe the animated gif since Frenden says not to remix his pack
    <div class="image-full-width">
        <img src="{{ static }}anim/kitchen.gif" width="540" height="300" alt="(screenshot)" />
    </div>
    {% endcomment %}
    <p>
        Pixel artists around the world have created artwork and packed it in to ZIP files.
        To install a texture pack, drop the ZIP file in Minecraft‘s special
        <i>texturepacks</i> folder.
    </p>
    <ul>
        <li>
            <a href="http://www.minecraftwiki.net/wiki/Texture_Pack">Texture Packs article</a>
            on Minepedia, the Minecraft Wiki
        </a>
    </ul>
</section>
{% endblock %}

{% block more_sections %}
    {% if beta_remixes %}
<div id="beta-remixes">
    <section class="pack-list">
        <h2>Packs Patched for Beta 1.8</h2>
    {% for grouper, list in beta_remixes %}
        <ul>
            {% for remix in list %}
            <li>
                <a href="{% url remix-detail remix_id=remix.id %}">
                    <img src="{% url remix-resource remix_id=remix.id resource_name="pack.png" %}" alt="" class="pack-png" />
                    <b>{{ remix }}</b>
                    <small>
                        Based on
                        {% for arg in remix.pack_args.all %}
                            {{ arg.source_pack }}
                        {% endfor %}
                    </small>
                </a>
            </li>
            {% endfor %}
    {% endfor %}
    </section>
</div>
    {% endif %}


<div id="upgrade-remixes">
    <section>
        <h2>Use old texture packs</h2>
        <p>
            When Mojang add new objects to Minecraft
            you have to stop using your favourite texture pack
            while you wait for the artist to draw new textures.
            By mixing in elements from a patches pack, we
            can let you carry on playing until then.
        </p>
        <p class="big_link">
            <strong><a href="{% url beta_upgrade %}">Patch a pack for Beta 1.8</a></strong>
        </p>
        <p>
            Patched packs are for personal use only, and only until
            an official release of the source pack has been issued.
        </p>
    </section>
    <section id="upgraded" class="pack-list compact">
        <h2>Old Texture Packs Upgraded to Current Beta</h2>
        <ul>
            {% for source in upgraded_sources %}
            <li>
                <a href="{% url remix-detail remix_id=source.upgrade_remix.id %}">
                    <img src="{% url remix-resource remix_id=source.upgrade_remix.id resource_name="pack.png" %}" alt="" class="pack-png" />
                    <b>{{ source }}</b>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% if upgradable_sources %}
    <section id="upgraded" class="pack-list compact">
        <h2>Old Texture Packs Upgradable to Current Beta</h2>
        <ul>
            {% for source in upgradable_sources %}
            <li>
                <a href="{% url source-detail source_id=source.id %}">
                    <img src="{% url source-resource remix_id=source.id resource_name="pack.png" %}" alt="" class="pack-png" />
                    <b>{{ source }}</b>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>


<div id="other-remixes">
    {% for grouper, list in other_remixes %}
    <section id="{{ grouper|slugify }}" class="pack-list">
        <h2>{{ grouper }} Remix{{ list|pluralize:"es" }}</h2>
        <ul>
            {% for remix in list %}
            <li>
                <a href="{% url remix-detail remix_id=remix.id %}">
                    <img src="{% url remix-resource remix_id=remix.id resource_name="pack.png" %}" alt="" class="pack-png" />
                    <b>{{ remix }}</b>
                    <small>
                        Based on
                        {% for arg in remix.pack_args.all %}
                            {{ arg.source_pack }}
                        {% endfor %}
                    </small>
                </a>
            </li>
            {% endfor %}
    </section>
    {% endfor %}
</div>


{% endblock %}