{% extends "base.html" %}
{% load markup %}
{% block title %}{{ remix.label }} - Texturejam{% endblock %}
{% block heading %}{{ remix.label }}{% endblock %}
{% block subheading %}A remixed texture pack{% endblock %}

{% block main_sections %}
<section id="pack-desc">
    <img class="pack-png" src="{% url pack_resource pk=remix.pk res_name="pack.png" %}" align="left" alt="" />

    <dl>
        {% if remix.pack_args %}
        <dt>Based on</dt>
        <dd>
            {% for pack_arg in remix.pack_args.all %}
                {% if not forloop.first %}{% if forloop.last %}and{% endif %}{% endif %}
                <a href="{% url source pk=pack_arg.source_pack.series.pk %}"
                >{{ pack_arg.source_pack }}</a>{% if not forloop.last %},{% else %}.{% endif %}
            {% endfor %}
        </dd>
        {% endif %}

        <dt>Added by</dt>
        <dd>
            <img src="{{ remix.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
            {{ remix.owner }}
            <small>{{ remix.created|date }}</small>
        </dd>


        {% if remix.created|date == remix.modified|date %}
        <dt>Last edited</dt>
        <dd>
            {{ remix.modified|date }}
        </dd>
        {% endif  %}

        {% if remix.withdrawn %}
        <dt>Withdrawn</dt>
        <dd>
            <strong>{{ remix.withdrawn_reason }}</strong>
            <small>{{ remix.withdrawn }}</small>
        </dd>
        {% endif %}

        {% if remix.owner.pk == user.pk %}
        <dt>Edit</dt>
        <dd>
            <a href="{% url remix_edit pk=remix.pk %}">Edit description</a>
        </dd>
        {% endif %}
    </dl>
</section>

<section id="pack-preview">
    <h2>Preview</h2>
    <div id="preview">
        <img class="pack_terrain" src="{% url pack_resource pk=remix.pk res_name="terrain.png" %}" alt="" />
    </div>
</section>

<section id="tweet-this">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="texturejamorguk">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</section>
{% endblock %}

{% block more_sections %}
<section id="instructions">

    <h2>How to use this texture pack</h2>

    <p class="big_link">
        <strong><a href="{% url tpmake pk=remix.pk slug=remix.label|slugify  %}">Download the ZIP file</a></strong>
    </p>

    <p>
        Then copy the ZIP file in to your Minecraft texturepacks folder.
    </p>
</section>

{% if remix.recipe.desc %}
<section id="recipe_desc">
    <h2>Recipe: {{ remix.recipe }}</h2>
    {{ remix.recipe.desc|markdown }}
</section>
{% endif %}
{% endblock %}