{% extends "base.html" %}
{% block title %}Texturejam{% endblock %}
{% block heading %}Texturejam{% endblock %}
{% block trail %}{% endblock %}
{% block main_sections %}
<section id="why_remix">
    <h2>Why Remix Texture Packs?</h2>
    <p>
        When Mojang add new objects to Minecraft
        you have to stop using your favourite texture pack
        while you wait for the designer to design and add  new
        imagery to the pack.
        By mixing in elements from another pack we can create
        an ersatz upgrade that
        lets you carry on playing until an official upgrade is released.
    </p>
    <p class="big_link">
        <strong><a href="{% url beta_upgrade %}">Upgrade a pack to Beta 1.4</a></strong>
    </p>
    <p>
        This service is still experimental.
    </p>
    <p>
        These texture packs contain alternative imagery for some
        textures. You can create a recipe that mixes in alternatives:
    </p>
    <ul>
        {% for spec in recipes %}
        <li>
            <a href="{% url recipe-from-maps id=spec.id %}"><b>{{ spec }}</b>
            <small>{{ spec.desc }}</small></a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="what_is">
    <h2>Wait, what is a texture pack anyway?</h2>
    <p>
        The world of <a href="http://minecraft.net">Minecraft</a> is made of cubes.
        By changing the
        pictures (called textures) painted on the cubes you can change the look and feel of the game.
    </p>
    <div class="image-full-width">
        <img src="{{ static }}anim/kitchen.gif" width="540" height="300" alt="(screenshot)" />
    </div>
    <p>
        Pixel artists around the world have created artwork and packed it in to ZIP files.
        To install a texture pack, drop the ZIP file in Minecraft‘s special
        <i>texturepacks</i> folder.
    </p>
    <ul>
        <li>
            <a href="http://www.minecraftwiki.net/wiki/Texture_Pack">Texture Packs article</a>
            on Minepedia, the Minecraft Wiki
        </a>
    </ul>
</section>
{% endblock %}

{% block more_sections %}
{% regroup remixes by recipe.label as groups %}
{% for group in groups %}
<section id="{{ group.grouper|slugify }}" class="pack-list">
    <h2>{{ group.grouper }} Remix{{ group.list|pluralize:"es" }}</h2>
    <ul>
        {% for remix in group.list %}
        <li>
            <a href="{% url remix-detail pk=remix.pk %}">
                <img src="{% url remix-resource pk=remix.pk res_name="pack.png" %}" alt="" class="pack-png" />
                <b>{{ remix }}</b>
                <small>
                    Based on
                    {% for arg in remix.pack_args.all %}
                        {{ arg.source_pack }}
                    {% endfor %}
                </small>
            </a>
        </li>
        {% endfor %}
</section>
{% endfor %}
{% endblock %}