{% extends "base.html" %}
{% load markup %}
{% block title %}{{ source.label }} (source) - Texturejam{% endblock %}
{% block heading %}{{ source.label }}{% endblock %}
{% block subheading %}A source texture pack{% endblock %}

{% block main_sections %}
<section id="pack-desc">
    <img class="pack-png" src="{% url source-resource pk=source.pk release_pk=release.pk res_name="pack.png" %}" align="left" alt="" />

    <dl>
        {% if source.home_url %}
        <dt>Home page</dt>
        <dd><a href="{{ source.home_url }}">{{ source.truncated_home_url }}</a></dd>
        {% endif %}
        {% if source.forum_url %}
        <dt>Forum thread</dt>
        <dd><a href="{{ source.forum_url }}">{{ source.truncated_forum_url }}</a></dd>
        {% endif %}

        <dt>Info added by</dt>
        <dd>
            <img src="{{ source.owner.get_profile.get_picture_src }}" alt="" class="userpic" />
            {{ source.owner }}
            <small>{{ source.created|date }}</small>
        </dd>

        {% if source.owner.id == user.id %}
        <dt>Edit</dt>
        <dd>
            <a href="{% url source-edit pk=source.pk %}">Edit description</a>
        </dd>
        {% endif %}
    </dl>
</section>

{% include "recipes/parts/source-release-previews.html" %}

<section id="tweet-this">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="texturejamorguk">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</section>
{% endblock %}

{% block more_sections %}
{% include "recipes/parts/source-recipe-links.html" %}
{% endblock %}