<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Texturejam{% endblock %}</title>
        <link rel="stylesheet" href="{{ static }}style/base.css">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block banner %}
        <section id="banner">
            {% block trail %}
            <p id="trail">
                <a href="{% url home %}">Texturejam</a>
            </p>
            {% endblock %}
            <h1>{% block heading %}Texturejam{% endblock %}</h1>
            <p id="strap">{% block subheading %}Remix Minecraft Texture&nbsp;Packs{% endblock %}</p>
        </section>
        {% endblock %}
        {% if messages %}
        <section id="messages">
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        <div id="content">
            {% block content %}
                <div id="main">{% block main_sections %}{% endblock %}</div>
                <div id="more">{% block more_sections %}{% endblock %}</div>
            {% endblock %}

            <div id="asides">
                {% comment %} Removed because people are antsy about funding remixes
                <aside id="ad">
                    <p>Help pay my hosting costs!</p>
                    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
    href="http://texturejam.org.uk/"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
                    <script type="text/javascript">
                    /* <![CDATA[ */
                        (function() {
                            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                            s.type = 'text/javascript';
                            s.async = true;
                            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
                            t.parentNode.insertBefore(s, t);
                        })();
                    /* ]]> */
                    </script>

                    <img src="http://placekitten.com/g/234/60" alt="" />
                </aside>
                {% endcomment %}

                <aside>
                    <p>
                        The texture packs on this site are all remixes of packs
                        hosted elsewhere on sites such as the following:
                    </p>
                    <ul>
                        <li><a href="http://www.texturecraft.net/">Texturecraft</a></li>
                        <li><a href="http://www.minecrafttextures.com/">Minecraft Textures</a></li>
                        <li><a href="http://www.planetminecraft.com/resources/texture_packs/">Planet Minecraft Textures</a></li>
                    </ul>
                </aside>
                <aside>
                    <p>
                        Many texture packs don’t have a home page
                        but ‘live’ in a thread in one of the Minecraft forums:
                    </p>
                    <ul>
                        <li><a href="http://www.minecraftforum.net/viewforum.php?f=1021">Minecraft Forums</a></li>
                        <li><a href="http://www.worldofminecraft.com/Texture_Packs">World of Minecraft</a>
                    </ul>
                </aside>
                <aside id="footer">
                    <p><a href="http://twitter.com/texturejamorguk">@texturejamorguk</a></p>
                    <p><a href="http://alleged.org.uk/pdc/tags/texturejam">Developer blog</a></p>
                    <p>© 2011 Damian Cugley</p>
                </aside>
            </div>
        </div>

            {% block who %}
            <aside id="who">
                {% if user.is_authenticated %}
                {% if user_profile.get_picture_src %}
                <img src="{{ user_profile.get_picture_src }}" alt="" class="profile" />
                {% endif %}
                {{ user.username }}
                <form action="{% url hello_log_out %}?next={{ redirect_field_value }}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Log out" />
                </form>
                {% else %}
                <a rel="nofollow" href="{% url begin "twitter" %}?next={{ redirect_field_value }}"><img src="{{ static }}style/sign-in-with-twitter.png" alt="Log in with Twitter"></a>
                {% endif %}
            </aside>
            {% endblock %}

    </body>
</html>